<% provide(:title, "Edit publisher") %>
<% provide(:button_name, "Update publisher") %>
<h1>Update publisher profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
