<% provide(:title, 'All book') %>
<% provide(:button_name, "Create ..") %>
<h1>All book</h1>

<%= link_to "Create book", create_book_path %>

<%= will_paginate %>

<ul class="books">
  <%= render @books %>
</ul>

<%= will_paginate %>
